<div class="head-class" style="text-align: center;">
<h1>Registration Form</h1>

</div>
<router-outlet></router-outlet>
<!-- <app-admin></app-admin>
<app-home></app-home> -->

<!-- <h1>Angular Router App</h1>

<nav>
  <ul>
    <li ><a routerLink="/home" routerLinkActive="active">Home Component</a></li>
    <li ><a routerLink="/admin" routerLinkActive="active">Admin Component</a></li>
  </ul>
</nav> -->

<!-- The routed views render in the <router-outlet>-->
<!-- <router-outlet></router-outlet> -->