td {
    height: 50px;
    vertical-align: bottom;
  }

  th, td {
    padding: 15px;
    text-align: left;
  }

  th, td {
    border-bottom: 1px solid #ddd;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}

  th {
    background-color:rgb(49, 141, 72);
    color: white;
  }

  table, th, td {
    border: 1px solid black;
  }

  table {
    border-collapse: collapse;
    margin: 0 auto;   
    
  
  }
  
  table, th, td {
    border: 1px solid black;
  }

  
  h1 {
    text-decoration: overline;
  }
 
